<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="rp_auction" id="rp_auction">
            <module name="SomethingDigital_AuctionItem" />
        </route>
        <route frontName="auction" id="auction">
            <module name="SomethingDigital_AuctionItem" />
        </route>
    </router>
</config>
